<div class="h-8 bg-gradient-to-br dark:from-blue-950 dark:to-blue-960 border-b border-t dark:border-blue-450 flex rounded-md shadow-md relative dark:shadow-gray-900/30">
    <div class="label w-full px-4 container mx-auto text-sm">
        <span class="dark:text-darker-0 pr-4">Obiekt #1</span>
        <span class="dark:text-sky-200 border-l dark:border-darker-100 pl-4">Tunel #1</span>
    </div>
</div>
<div class="data">
    <div class="container mx-auto flex justify-center px-2">
        <div class="image-box">
            <div class="image dark:bg-darker-900 rounded-md border dark:border-darker-500 shadow-md dark:shadow-gray-900/50">
                <div class="img h-32 mt-2 mx-2" style="background: url({{ asset('build/images/tunel.webp') }})"></div>
                <div class="desc text-center uppercase">
                    <span class="text-sm dark:text-darker-200">Typ obiektu:</span>
                    <p class="dark:text-darker-100">Tunel</p>
                </div>
            </div>
        </div>
        <div class="readings chunk">
            <div class="flex flex-col dark:text-blue-100 text-center uppercase">
                <div class="heading label text-sm px-4 h-10 dark:bg-blue-950 border-b border-t dark:border-blue-450">
                    <span class="title pr-4 border-r dark:border-darker-100">Temperatura</span>
                    <span class="pre px-4">Zadana</span>
                    <span class="post pr-4 active"><i class="gf gf-day rotate"></i>19.5°C</span>
                    <span class="post"><i class="gf gf-night"></i>26.5°C</span>
                </div>
                <div class="value flex dark:bg-blue-550">
                    <div class="box">
                        <span><i class="gf gf-temp2"></i>21.5°C</span>
                        <p class="diff">+2°C</p>
                    </div>
                </div>
                <div class="amplitude flex dark:bg-blue-550 border-t border-b-2 dark:border-blue-450">
                    <div class="box">
                        <div class="value"><span><i class="gf gf-temp2"></i>5.5°C</span></div>
                        <div class="label text-left">
                            <span>Temp</span>
                            <p class="dark:text-blue-300">min</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="value"><span><i class="gf gf-temp6"></i>27.3°C</span></div>
                        <div class="label text-left">
                            <span>Temp</span>
                            <p class="dark:text-red-300">max</p>
                        </div>
                    </div>
                </div>
                <ul class="additional settings label gap-0.5 h-14 dark:bg-blue-950 border-b dark:border-blue-450">
                    <li class="title">Ustawienia obiektu:</li>
                    <li class="element active">
                        <i class="gf gf-temp3 text-red-500"></i>
                        <p>Temperatura</p>
                    </li>
                    <li class="element">
                        <i class="gf gf-humidity text-sky-300"></i>
                        <p>Wilgotność</p>
                    </li>
                    <li class="element">
                        <i class="gf gf-vent3 text-lime-500"></i>
                        <p>Wietrznik</p>
                    </li>
                    <li class="element"><i class="gf gf-shadow text-amber-300"></i>
                        <p>Cieniówka</p>
                    </li>
                    <li class="element">
                        <i class="gf gf-manual text-cyan-500"></i>
                        <p>Pozostałe</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="readings chunk">
            <div class="flex flex-col dark:text-blue-100 text-center uppercase">
                <div class="heading label text-sm px-4 h-10 dark:bg-blue-950 border-b border-t border-l dark:border-blue-450">
                    <span class="title pr-4 border-r dark:border-darker-100">Wilgotność</span>
                    <span class="pre px-4">Zadana</span>
                    <span class="post pr-4 active"><i class="gf gf-day rotate"></i>70%</span>
                    <span class="post"><i class="gf gf-night"></i>90%</span>
                </div>
                <div class="value flex dark:bg-blue-550">
                    <div class="box">
                        <span><i class="gf gf-humidity"></i>73%</span>
                        <p class="diff">+3%</p>
                    </div>
                    <div class="box alarm">
                        <span><i class="gf gf-humidity"></i>89%</span>
                        <p class="diff">19%</p>
                    </div>
                </div>
                <div class="amplitude flex dark:bg-blue-550 border-t border-b-2 dark:border-blue-450">
                    <div class="box">
                        <div class="value"><span><i class="gf gf-temp2"></i>70%</span></div>
                        <div class="label text-left">
                            <span>Wilg.</span>
                            <p class="dark:text-blue-300">min</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="value"><span><i class="gf gf-temp2"></i>99%</span></div>
                        <div class="label text-left">
                            <span>Wilg.</span>
                            <p class="dark:text-red-300">max</p>
                        </div>
                    </div>
                </div>
                <div class="additional other label gap-2 h-14 dark:bg-blue-950 border-b border-l dark:border-blue-450">
                    <span class="title">Aktywne moduły: </span>
                    <span class="element dark:bg-blue-450 active"><i class="gf gf-blow"></i></span>
                    <span class="element dark:bg-blue-450"><i class="gf gf-heat"></i></span>
                    <span class="title">Pozostałe opcje: </span>
                    <span class="element link dark:bg-blue-450"><i class="gf gf-stats"></i></span>
                    <span class="element link dark:bg-blue-450"><i class="gf gf-alarm-range"></i></span>
                    <span class="element link dark:bg-blue-450"><i class="gf gf-trash"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="readings stripe dark:bg-blue-960 dark:border-darker-200 dark:text-blue-100 rounded-md shadow-md relative dark:shadow-gray-900/30">
        <div class="container mx-auto px-4 flex">
            <div class="box flex">
                <div class="label"><span>Wietrznik</span></div>
                <div class="value w-full">
                    <div class=" indicator w-full relative z-20">
                        <div class="w-full rounded-full">
                            <div class="bg-gradient-to-r dark:from-transparent-0 dark:to-darker-100/20 leading-none rounded-full"
                                 style="width: 25%"></div>
                        </div>
                    </div>
                    <div class="progress w-full bg-gray-200 relative z-10 rounded-full dark:bg-blue-550">
                        <div class="bg-darker-350 text-blue-100 flex justify-center items-center leading-none rounded-full"
                             style="width: 49%"><span>49%</span></div>
                    </div>
                </div>
                <div class="value w-full">
                    <div class=" indicator w-full relative z-20">
                        <div class="w-full rounded-full">
                            <div class="bg-gradient-to-r dark:from-transparent-0 dark:to-darker-100/20 leading-none rounded-full"
                                 style="width: 25%"></div>
                        </div>
                    </div>
                    <div class="progress w-full bg-gray-200 relative z-10 rounded-full dark:bg-blue-550">
                        <div class="bg-darker-350 text-blue-100 flex justify-center items-center leading-none rounded-full"
                             style="width: 80%"><span>80%</span></div>
                    </div>
                </div>
            </div>
            <div class="box flex">
                <div class="label"><span>Cieniówka</span></div>
                <div class="value w-full">
                    <div class=" indicator w-full relative z-20">
                        <div class="w-full rounded-full">
                            <div class="bg-gradient-to-r dark:from-transparent-0 dark:to-darker-100/20 leading-none rounded-full"
                                 style="width: 68%"></div>
                        </div>
                    </div>
                    <div class="progress w-full bg-gray-200 relative z-10 rounded-full dark:bg-blue-550">
                        <div class="bg-darker-350 text-blue-100 flex justify-center items-center leading-none rounded-full"
                             style="width: 58%"><span>58%</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>