<div class="bg-gradient-to-r dark:from-darker-700 dark:to-darker-800">
    <div class="label w-full h-8 border-b dark:border-darker-450 flex">
        <div class="w-full py-1.5 px-6 container mx-auto uppercase text-sm">
            <span class="dark:text-darker-0 pr-4">Obiekt #1</span>
            <span class="dark:text-darker-200 border-l dark:border-darker-100 pl-4">Tunel #1</span>
        </div>
    </div>
    <div class="data bg-gradient-to-br dark:from-darker-650 to-darker-600">
        <div class="summary container mx-auto flex justify-center px-2">
            <div class="image h-48 w-40 my-3 mr-4 dark:bg-darker-900 rounded-md border dark:border-darker-500 shadow-md dark:shadow-gray-900/50">
                <div>
                    <div class="img h-32 mt-2 mx-2" style="background: url({{ asset('build/images/tunel.webp') }})"></div>
                </div>
                <div class="desc text-center uppercase mt-1">
                    <span class="text-sm dark:text-darker-200">Typ obiektu:</span>
                    <span class="block dark:text-darker-100 -mt-1">Tunel</span>
                </div>
            </div>
            <div class="readings grow mt-4">
                <div class="flex flex-col h-52 dark:text-darker-0 text-center uppercase">
                    <div class="label py-0.5 px-4 dark:text-darker-200 h-8 flex bg-gradient-to-r dark:from-darker-800 dark:to-darker-900 rounded-tl-lg border-b border-t dark:border-darker-500">
                        <span>Temperatura</span>
                    </div>
                    <div class="value h-16 grid grid-cols-5 dark:bg-darker-700">
                        <div class="box h-16">
                            <span><i class="gf gf-day"></i> 19.5 °C</span>
                            <span class="block"><i class="gf gf-night"></i> 26.5 °C</span>
                        </div>
                        <div class="box h-20">
                            <span><i class="gf gf-temp2"></i> 21.5 °C</span>
                            <span class="block diff">+2 °C</span>
                        </div>
                        <div class="box h-20">
                            <span><i class="gf gf-temp2"></i> 21.5 °C</span>
                            <span class="block diff">+2 °C</span>
                        </div>
                        <div class="box h-20">
                            <span><i class="gf gf-temp2"></i> 21.5 °C</span>
                            <span class="block diff">+2 °C</span>
                        </div>
                    </div>
                    <div class="desc h-8 grid grid-cols-5 bg-gradient-to-r dark:from-darker-800 dark:to-darker-900 rounded-bl-lg border-t border-b dark:border-darker-500">
                        <div><span>Zadana</span></div>
                        <div><span>Zmierzone</span></div>
                        <div><span>Zmierzone</span></div>
                        <div><span>Zmierzone</span></div>
                    </div>
                    <div class="amplitude h-10 grid grid-cols-4 xl:grid-cols-5 mt-4 dark:bg-darker-700 border-t border-b dark:border-darker-600">
                        <div class="value"><span><i class="gf gf-temp2"></i> 5.5 °C</span></div>
                        <div class="label text-left">
                            <span>Temp</span>
                            <span class="block">min</span>
                        </div>
                        <div class="value"><span><i class="gf gf-temp6"></i> 27.3 °C</span></div>
                        <div class="label text-left">
                            <span>Temp</span>
                            <span class="block">max</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="readings grow mt-4">
                <div class="flex flex-col h-52 dark:text-darker-0 text-center uppercase">
                    <div class="label py-0.5 px-4 dark:text-darker-200 h-8 flex bg-gradient-to-r dark:from-darker-800 dark:to-darker-900 rounded-tr-lg border-b border-t border-l dark:border-darker-500">
                        <span>Wilgotność</span>
                    </div>
                    <div class="value h-16 grid grid-cols-5 dark:bg-darker-700">
                        <div class="box h-20">
                            <span><i class="gf gf-day"></i> 70%</span>
                            <span class="block diff"><i class="gf gf-night"></i> 80%</span>
                        </div>
                        <div class="box h-20">
                            <span><i class="gf gf-humidity"></i> 75 °C</span>
                            <span class="block diff">+5 °C</span>
                        </div>
                        <div class="box h-20">
                            <span><i class="gf gf-humidity"></i> 74 °C</span>
                            <span class="block diff">+4 °C</span>
                        </div>
                        <div class="box h-20">
                            <span><i class="gf gf-humidity"></i> 75 °C</span>
                            <span class="block diff">+5 °C</span>
                        </div>
                    </div>
                    <div class="desc h-8 grid grid-cols-5 bg-gradient-to-r dark:from-darker-800 dark:to-darker-900 rounded-br-lg border-t border-b border-l dark:border-darker-500">
                        <div><span>Zadana</span></div>
                        <div><span>Zmierzone</span></div>
                        <div><span>Zmierzone</span></div>
                        <div><span>Zmierzone</span></div>
                    </div>
                    <div class="amplitude h-10 grid grid-cols-4 xl:grid-cols-5 mt-4 dark:bg-darker-700 border-t border-b dark:border-darker-600">
                        <div class="value"><span><i class="gf gf-temp2"></i> 70%</span></div>
                        <div class="label text-left">
                            <span>Wilg.</span>
                            <span class="block">min</span>
                        </div>
                        <div class="value"><span><i class="gf gf-temp2"></i> 99%</span></div>
                        <div class="label text-left">
                            <span>Wilg.</span>
                            <span class="block">max</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>