<div class="item w-64 h-48 bg-gradient-to-br dark:from-darker-100 dark:to-darker-250 rounded-md cursor-pointer shadow-lg dark:shadow-gray-900/50">
    <div class="label w-auto dark:bg-slate-800 p-0.5 text-center rounded-t-md uppercase">
        <span class="dark:text-darker-100">Tunel #</span>
    </div>
</div>