<div class="item w-66 h-48 bg-gradient-to-br dark:from-darker-100 dark:to-darker-200 rounded-md cursor-pointer shadow-md dark:shadow-gray-900/50">
    <div class="label flex flex-col w-auto py-1 text-center rounded-t-md uppercase border-b dark:border-darker-300 dark:bg-darker-700">
        <span class="dark:text-darker-100 font-medium">Tunel #</span>
    </div>
</div>