<div class="w-full flex dark:bg-darker-700 dark:text-darker-100">
    <div class="label container mx-auto px-2 h-8">Ustawienia temperatury</div>
</div>
<div class="h-64 dark:bg-darker-650 border-b-2 border-t dark:border-darker-450">
    <div class="container">
        <div class="item">
            <span class="title">Temperatura w dzień</span>
            <span class="icon"><i class="gf gf-control"></i></span>
            <span class="value">20.5°C</span>
        </div>
    </div>
</div>

