<div class="w-full flex dark:bg-darker-650 dark:text-darker-100">
    <div class="label container mx-auto dark:bg-darker-700 px-2 h-16">Ustawienia temperatury</div>
</div>
<div class="h-64 dark:bg-darker-650 dark:text-darker-100 border-b-2 dark:border-darker-450">
    <div class="container row mx-auto flex">
        <div class="item">
            <span class="title">Temperatura w dzień</span>
            <p class="icon"><i class="gf gf-control"></i></p>
            <p class="value">20.5°C</p>
        </div>
        <div class="item">
            <span class="title">Temp. bezwzględnego zamknięcia wietrznika</span>
            <p class="icon"><i class="gf gf-control"></i></p>
            <p class="value">20.5°C</p>
        </div>
        <div class="item">
            <span class="title">Temperatura w dzień</span>
            <p class="icon"><i class="gf gf-control"></i></p>
            <p class="value">20.5°C</p>
        </div>
        <div class="item">
            <span class="title">Temperatura w dzień</span>
            <p class="icon"><i class="gf gf-control"></i></p>
            <p class="value">20.5°C</p>
        </div>
        <div class="item">
            <span class="title">Temperatura w dzień</span>
            <p class="icon"><i class="gf gf-control"></i></p>
            <p class="value">20.5°C</p>
        </div>
        <div class="item">
            <span class="title">Temperatura w dzień</span>
            <p class="icon"><i class="gf gf-control"></i></p>
            <p class="value">20.5°C</p>
        </div>
    </div>
</div>

