<div class="container mx-auto flex bg-gradient-to-br dark:from-darker-700 dark:to-darker-900 dark:text-darker-100 rounded-md shadow-md relative dark:shadow-gray-900/30">
    <div class="label px-4 h-8">Ustawienia temperatury</div>
</div>
<div class="h-64 dark:text-darker-100">
    <div class="container mx-auto flex">
        <div class="item">
            <span class="title">Temperatura w dzień</span>
            <p class="icon"><i class="gf gf-temp2"></i><i class="gf gf-day"></i></p>
            <p class="value">20.5°C</p>
        </div>
        <div class="item">
            <span class="title">Temperatura w nocy</span>
            <p class="icon"><i class="gf gf-temp2"></i><i class="gf gf-night"></i></p>
            <p class="value">20.5°C</p>
        </div>
        <div class="item">
            <span class="title">Histereza</span>
            <p class="icon"><i class="gf gf-control"></i></p>
            <p class="value">20.5°C</p>
        </div>
        <div class="item">
            <span class="title">Temp. bezwzględnego zamknięcia wietrznika</span>
            <p class="icon"><i class="gf gf-control"></i></p>
            <p class="value">20.5°C</p>
        </div>
        <span class="separator"></span>
        <div class="item">
            <span class="title">Początek dnia</span>
            <p class="icon"><i class="gf gf-control"></i></p>
            <p class="value">20.5°C</p>
        </div>
        <div class="item">
            <span class="title">Początek nocy</span>
            <p class="icon"><i class="gf gf-control"></i></p>
            <p class="value">20.5°C</p>
        </div>
        <div class="item">
            <span class="title">Sterowanie temperaturą<br/> w dzień</span>
            <p class="icon"><i class="gf gf-control"></i></p>
            <p class="value">20.5°C</p>
        </div>
        <div class="item">
            <span class="title">Sterowanie temperaturą<br /> w nocy</span>
            <p class="icon"><i class="gf gf-control"></i></p>
            <p class="value">20.5°C</p>
        </div>
    </div>
</div>

