{% extends 'base.html.twig' %}
{% block title %}Greenee© App{% endblock %}
{% block body %}
<div id="content" class="flex flex-col">
    <article class="all w-full bg-amber-100 dark:bg-darker-500 border-b dark:border-darker-450">
        <div class="container mx-auto">
            {%  include('app/_mini_carousel.html.twig') %}
        </div>
    </article>
    <div class="separator h-2 dark:bg-darker-700 w-full border-b dark:border-darker-450"></div>
    <article class="details bg-gradient-to-b dark:from-darker-800 dark:to-darker-900 shadow-md border-b-4 dark:border-darker-400">
            {%  include('app/_details.html.twig') %}
    </article>
</div>
{% endblock %}