{% extends 'base.html.twig' %}
{% block title %}Greenee© App{% endblock %}
{% block body %}
    <div id="content" class="block bg-gradient-to-b dark:from-darker-300 dark:to-darker-700">
        <div {{ react_component('FacilityApp', {'currentObject': selectedObject }) }}></div>
    </div>
    {% for message in app.flashes('success') %}
        {{ component('form_alert', {
            message: message
        }) }}
    {% endfor %}
{% endblock %}

