{% extends 'base.html.twig' %}
{% block title %}Greenee© App{% endblock %}
{% block body %}
<div id="content" class="flex flex-col">
    <article class="all w-full">
        <div class="container"></div>
    </article>
    <article class="details w-full bg-gradient-to-b dark:from-darker-800 dark:to-darker-900 shadow-md border-b border-t dark:border-darker-500">
        <div class="container"></div>
    </article>
</div>
{% endblock %}