{% extends 'base.html.twig' %}
{% block title %}Greenee© App{% endblock %}
{% block body %}
    <div id="content" class="block bg-gradient-to-b dark:from-darker-300 dark:to-darker-700">
        <div class="lg:container mx-auto mt-1">
            <div class="w-full dark:text-darker-0 lg:rounded dark:bg-blue-550 border-l border-r dark:border-blue-450">
                <div class="label lg:rounded-t px-4 py-1 dark:bg-blue-950">Obiekt #2</div>
                <div id="setup-select" class="px-4 py-2">
                    <div class="py-4">
                        <h2 class="text-2xl pb-2 dark:text-white uppercase">Opis</h2>
                        <div class="p-4 rounded-lg dark:bg-blue-450">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim inventore omnis pariatur voluptate!
                            Alias aliquam corporis, cupiditate dolorem dolorum ex hic id mollitia nam nobis pariatur quae quaerat ratione, voluptatum?</div>
                    </div>
                    <div class="py-4">
                        <h2 class="text-2xl pb-2 dark:text-white uppercase">Ustawienia</h2>
                        <div class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim inventore omnis pariatur voluptate!
                            Alias aliquam corporis, cupiditate dolorem dolorum ex hic id mollitia nam nobis pariatur quae quaerat ratione, voluptatum?</div>
                    </div>
                    <div class="py-4">
                        <h2 class="text-2xl pb-2 dark:text-white uppercase">Historia Alertów</h2>
                        <div class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim inventore omnis pariatur voluptate!
                            Alias aliquam corporis, cupiditate dolorem dolorum ex hic id mollitia nam nobis pariatur quae quaerat ratione, voluptatum?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea eos explicabo facere natus nesciunt nihil nisi officiis sed.
                            A deserunt impedit libero odit optio vero voluptatem? Assumenda ea officiis temporibus.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
