{% extends 'base.html.twig' %}
{% block title %}Greenee© App{% endblock %}
{% block body %}
    <div id="content" class="block bg-gradient-to-b dark:from-darker-300 dark:to-darker-700">
        <div class="lg:container mx-auto lg:mt-4">
            <div class="w-full dark:text-darker-0 overflow-auto lg:rounded dark:bg-blue-550 shadow-lg shadow-darker-700">
                <div class="text-3xl flex items-center justify-between uppercase lg:text-xl lg:rounded-t px-4 py-4 lg:py-2 dark:bg-blue-950">
                    <div>{{ object.name }}&nbsp;-&nbsp;przegląd ustawień</div>
                    <div><a href="{{ path('app_show_selected',{'object': object.id}) }}">
                            <button class="btn btn-green text-base uppercase float-right">Odczyty</button>
                        </a></div>
                </div>
                <div id="setup-select" class="px-4 py-2">
                    {% include 'app/_object_info.html.twig' %}
                    <hr/>
                    {% if object.settings %}
                        {% include 'app/_select_profile.html.twig' %}
                    {% endif %}
                    <hr/>
                    {% include 'app/_alerts.html.twig' %}
                </div>
            </div>
            {% for message in app.flashes('success') %}
                <div class="js-alert fixed w-full h-full top-1 flex justify-center items-center">
                    <div class="z-50 flex flex-col p-8 bg-darker-100 shadow-xl dark:shadow-darker-800 rounded-2xl">
                        <div class="flex items-center justify-between">
                            <div class="flex items-center">
                                <div class="flex flex-col ml-3">
                                    <div class="font-medium leading-none">{{ message }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
