{% extends 'base.html.twig' %}
{% block title %}Greenee© App{% endblock %}
{% block body %}
    <div id="content" class="block bg-gradient-to-b dark:from-darker-300 dark:to-darker-700">
        <div class="lg:container mx-auto lg:mt-4">
            <div class="w-full dark:text-darker-0 lg:rounded dark:bg-blue-550 shadow-lg shadow-darker-700">
                <div class="label text-3xl lg:text-xl lg:rounded-t px-4 py-4 lg:py-2 dark:bg-blue-950">{{ object.name }}
                    <span class="lowercase">&nbsp;-&nbsp;przegląd ustawień</span>
                </div>
                <div id="setup-select" class="px-4 py-2">
                    {% include 'app/_object_info.html.twig' %}
                    {% include 'app/_select_profile.html.twig' %}
                    {% include 'app/_alerts.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
