$dark-0: #dbeeee;
$dark-100: #b4d3d3;
$dark-200: #9bc3c7;
$dark-250: #87c2c7;
$dark-300: #377d84;
$dark-350: #0a707a;
$dark-400: #2b7279;
$dark-450: #1a6066;
$dark-500: #104e54;
$dark-600: #0d3d42;
$dark-650: #16393b;
$dark-700: #042e32;
$dark-800: #032427;
$dark-850: #031e21;
$dark-900: #101111;

$blue-250: #b2d3d5;
$blue-450: #426272;
$blue-470: #425660;
$blue-550: #143c50;
$blue-950: #07293a;
$blue-960: #0e2029;
$blue-970: #020f16;

$alarm-red: #501414;

$text-shadow: -2px 2px 2px #00000050;
$light-shadow: 0 0 5px #ffffff80;

.detail {
  text-shadow: $text-shadow;
  margin-top: 1rem;

  .data {
    .image-box {
      padding: 0.75rem 0.75rem;
      background: $blue-550;
      border-right: 1px solid $blue-450;

      .image {
        width: 9rem;

        .img {
          background-position: center !important;
          background-size: cover !important;
        }

        .desc {
          margin: 0.125rem 0;

          p {
            margin-top: -0.25rem;
          }
        }
      }
    }

    i {
      margin-right: 0.25rem;
    }

    .readings.chunk {
      flex-grow: 1;

      .heading.label {
        .title {
          font-size: 1rem;
        }

        .pre {
          font-size: 0.75rem;
        }

        .post {
          color: $dark-250;
        }

        .active {
          font-size: 1.1rem;
          color: $dark-0;
        }
      }


      .value {
        .box {
          width: 16.66%;
          height: 4rem;
          display: flex;
          justify-content: center;
          flex-direction: column;

          span {
            font-size: 1.1rem;
          }

          p {
            font-size: 0.85rem;
          }
        }

        .box.alarm {
          background: linear-gradient(to bottom, $alarm-red, transparent);
          border-radius: 0.25rem;
        }
      }

      .amplitude {

        height: 2.5rem;

        .box {
          margin-right: 3rem;
          display: flex;
        }

        .value {
          padding: 0.25rem 0.5rem 0.25rem 0.75rem;
          font-size: 1.25rem;
          width: 6.75rem;
        }

        .label {
          padding: 0.2rem 0;
          font-size: 0.75rem;
          flex-direction: column;

          p {
            margin-top: -0.25rem;
          }
        }
      }
    }

    .additional {
      font-size: 0.85rem;
      height: 4.25rem;

      .settings, .stats, .other {
        display: inline-flex!important;
      }

      .settings {
        max-width: 34rem;
      }

      .other {
        max-width: 16rem;
      }

      .stats {
        max-width: 12rem;
      }

      .title {
        line-height: 1.3;
        font-size: 0.85rem;
        max-width: 5.5rem;
      }

      .module {
        margin: 0.5rem 0.5rem 0.5rem 0;
        opacity: 0.2;
        border-radius: 0.75rem;
        box-shadow: -2px 2px 1px 1px #00000020;
        height: 3rem;
        width: 4rem;
        border: 2px solid $blue-250;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          font-size: 2rem;
          margin: 0;
        }

        &:hover {
          opacity: 0.4;
          background: $blue-250;
          color: $dark-900;
          cursor: pointer;
        }

        &.active, &.link {
          opacity: 1;
        }

        &.link {
          &:hover {
            background: $blue-250;
            color: $dark-900;
          }
        }
      }

      .element {
        border-left: 1px solid $blue-550;
        height: 4rem;
        width: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.5rem;
        cursor: pointer;

        &:hover {
          background: $blue-450;
        }

        &.active {
          background: #1f475a;
          color: $dark-0;
        }

        p {
          font-size: 0.80rem;
          margin-top: 0.3rem;
        }
      }
    }

    .readings.stripe {
      min-height: 3rem;
      border-top: 1px solid $blue-450;

      .box {
        .row {
          align-items: center;

          .value {
            font-size: 0.85rem;
            align-items: center;
            justify-content: center;
            min-width: 2rem!important;
            border-radius: 0.25rem;
          }

          .progress {
            z-index: 10;
          }

          .indicator {
            z-index: 20;
            top: -1.5rem;
            min-width: 0.25rem!important;
          }

          .progress, .indicator {
            position: relative;
            border-radius: 0.25rem;
          }

        }

        .label {
          text-transform: uppercase;
          width: 7rem;
          height: 3rem;
        }
      }
    }
  }
}