<div class="container mx-auto flex bg-gradient-to-br dark:from-darker-700 dark:to-darker-900 dark:text-darker-100 rounded-md shadow-md relative dark:shadow-gray-900/30">
    <div class="label px-4 h-8">Ustawienia temperatury</div>
</div>
<div class="dark:text-darker-100">
    <div class="container mx-auto ">
        <div class="box flex">
            <div class="item">
                <span class="title">Temperatura w dzień</span>
                <div class="icon"><i class="gf gf-temp2"></i><i class="gf gf-day"></i></div>
                <p class="value">20.5°C</p>
            </div>
            <div class="item">
                <span class="title">Temperatura w nocy</span>
                <div class="icon"><i class="gf gf-temp2"></i><i class="gf gf-night"></i></div>
                <p class="value">15.0°C</p>
            </div>
            <div class="item">
                <span class="title">Histereza</span>
                <div class="icon"><i class="gf gf-hysteresis"></i></div>
                <p class="value">1.5°C</p>
            </div>
            <div class="item">
                <span class="title">Temp. bezwzględnego zamknięcia wietrznika</span>
                <div class="icon"><i class="gf gf-temp2"></i><i class="gf gf-warning"></i></div>
                <p class="value">5°C</p>
            </div>
            <span class="separator"></span>
            <div class="item global">
                <span class="title">Początek dnia</span>
                <div class="icon"><i class="gf gf-day-begin"></i></div>
                <p class="value">7:00</p>
            </div>
            <div class="item global">
                <span class="title">Początek nocy</span>
                <div class="icon">
                    <i class="gf gf-night-begin"></i>
                </div>
                <p class="value">20:00</p>
            </div>
            <div class="item true">
                <span class="title">Sterowanie temperaturą<br/> w dzień</span>
                <div class="icon"><i class="gf gf-control"></i><i class="gf gf-day"></i></div>
                <p class="value">TAK</p>
            </div>
            <div class="item false">
                <span class="title">Sterowanie temperaturą<br/> w nocy</span>
                <div class="icon"><i class="gf gf-control"></i><i class="gf gf-night"></i></div>
                <p class="value">NIE</p>
            </div>
        </div>
    </div>
</div>