$dark-0: #dbeeee;
$dark-100: #b4d3d3;
$dark-200: #9bc3c7;
$dark-250: #87c2c7;
$dark-300: #377d84;
$dark-350: #0a707a;
$dark-400: #2b7279;
$dark-450: #1a6066;
$dark-500: #104e54;
$dark-600: #0d3d42;
$dark-650: #16393b;
$dark-700: #042e32;
$dark-800: #032427;
$dark-850: #031e21;
$dark-900: #101111;

$blue-250: #b2d3d5;
$blue-450: #426272;
$blue-470: #425660;
$blue-550: #143c50;
$blue-950: #07293a;
$blue-960: #0e2029;
$blue-970: #020f16;

$alarm-red: #501414;

$popup-cover: #000000d0;

$text-shadow: -2px 2px 2px #00000050;
$light-shadow: 0 0 5px #ffffff80;
$popup-shadow: -4px 4px 10px #000000;

.setup {
  margin: 1rem auto 2rem;

  .js-settings-popup-cover {
    width: 100%;
    height: 100%;
    background: $popup-cover;

    .settings-popup {
      width: 40rem;
      filter: drop-shadow($popup-shadow);
      background: $blue-550;

      .label {
        justify-content: space-between;
        text-transform: unset !important;
        font-size: 1.2rem;

        .js-btn-close {
          font-size: 1.25rem;
          width: 1.75rem;
          height: 1.75rem;
          text-align: center;
          color: $blue-250;

          &:hover {
            background: $blue-250;
            color: $blue-950;
            cursor: pointer;
            border-radius: 0.25rem;
          }
        }
      }

      .description {
        padding: 1rem;
        margin: 1rem;
        background: #254b5e;
        border-radius: 0.25rem;
      }

      .content {
        margin: 4rem 0 1rem;

        .settings-range {
          width: 100%;
          padding: 0 1rem;

          input[type="range"] {
            -webkit-appearance: none;
            appearance: none;
            cursor: pointer;
            background: transparent;
          }
          input[type="range"]:focus {
            outline: none;
            border: none;
          }

          //--- opera, chrome, etc...
          // track style
          input[type="range"]::-webkit-slider-runnable-track  {
            background-color: $blue-950;
            height: 0.75rem;
            border-radius: 0.5rem;
            transition: background-color 0.5s;
          }

          input[type="range"]:hover::-webkit-slider-runnable-track {
            background-color: $blue-450;
          }

          // pointer
          input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            margin-top: -14px;
            background-color: $dark-0;
            height: 2.5rem;
            width: 1.25rem;
            border-radius: 1rem;
            border: 0;
          }

          input[type="range"]:hover::-webkit-slider-thumb {
            outline: 2px solid $dark-0;
            outline-offset: 0.125rem;
          }

          //--- firefox
          // track style
          input[type="range"]::-moz-range-track {
            background-color: $blue-950;
            height: 0.75rem;
            border-radius: 0.5rem;
            transition: background-color 0.5s;
          }

          input[type="range"]:hover::-moz-range-track {
            background-color: $blue-450;
          }

          // pointer
          input[type="range"]::-moz-range-thumb {
            -webkit-appearance: none;
            appearance: none;
            margin-top: -14px;
            background-color: $dark-0;
            height: 2.5rem;
            width: 1.25rem;
            border-radius: 1rem;
            border: 0;
          }

          input[type="range"]:hover::-moz-range-thumb {
            outline: 2px solid $dark-0;
            outline-offset: 0.125rem;
          }

          .select-bar {
            top: -15px;
            position: relative;
            margin: 0 0.5rem;
          }

          .range-caption {
            position: relative;
            z-index: 50;
            text-align: center;
            height: 1.75rem;
            font-size: 1.25rem;
            width: 100%;
            padding: 0 0.625rem;
            top: -30px;
            .value {
              margin-left: -1.75rem;
              height: 2rem;

              &:after {
                content: "";
                width: 0.5rem;
                height: 0.5rem;
                background-color: $blue-450;
                display: block;
                margin: -3px auto 0;
                transform: rotate(45deg);
              }
            }
          }
          .range-footer {
            position: relative;
            z-index: 50;
            height: 1.5rem;
            font-size: 1rem;
            width: 27.75rem;
            left: 8px;
          }
          .threshold {
            font-size: 0.75rem;
            position: absolute;
            ins {
              display: block;
              position: relative;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  @mixin setup-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 2px 5px 0 #00000080;
  }

  @mixin item-default-bg {
    border-bottom: 1px solid $blue-450;
    background: linear-gradient(to bottom right, $blue-950, $blue-960);
  }

  .box {
    margin: 0 0.5rem;
    height: 19rem;
    background: linear-gradient(to bottom right, $dark-300, $dark-500);
    padding: 1rem 1rem;

    &-content {
      flex-wrap: wrap;
      gap: 0.5rem 0.8%;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    width: 16%;
    height: 8rem;
    text-transform: uppercase;
    transition: filter 0.5s, opacity 0.5s;

    &:hover {
      cursor: pointer;
      filter: drop-shadow(-5px 5px 5px #00000060);

      .icon {
        filter: brightness(1.35);
        animation-name: move-bg;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
      }
    }

    .title {
      height: 2.5rem;
      font-size: 0.85rem;
      line-height: 1.2;
      padding: 0 1rem;
      border-radius: 0.5rem 0.5rem 0 0;
      border-top: 1px solid $blue-450;
      @include item-default-bg;
      @include setup-item;
    }

    .icon {
      flex-grow: 1;
      font-size: 2rem;
      color: $dark-100;
      @include setup-item;
      background: #174453 url("img/bg-default.png");

      i {
        padding: 0 0.5rem;
      }
    }

    .value {
      font-size: 1.25rem;
      height: 2.5rem;
      border-top: 1px solid $blue-450;
      border-radius: 0 0 0.5rem 0.5rem;
      @include item-default-bg;
      @include setup-item;
    }

    &.global {
      .icon {
        background: #255077 url("img/bg-global.png");
      }
    }

    &.true {
      .icon {
        background: #1C531E url("img/bg-true.png");
      }
    }

    &.false {
      .icon {
        background: #62191F url("img/bg-false.png");
      }
    }
  }
}