// import TailWind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;

$dark-0: #dbeeee;
$dark-100: #b4d3d3;
$dark-200: #9bc3c7;
$dark-250: #87c2c7;
$dark-300: #377d84;
$dark-350: #0a707a;
$dark-400: #2b7279;
$dark-450: #1a6066;
$dark-500: #104e54;
$dark-600: #0d3d42;
$dark-650: #16393b;
$dark-700: #042e32;
$dark-800: #032427;
$dark-850: #031e21;
$dark-900: #101111;

$blue-250: #b2d3d5;
$blue-450: #426272;
$blue-470: #425660;
$blue-550: #143c50;
$blue-950: #07293a;
$blue-960: #0e2029;
$blue-970: #020f16;

$alarm-red: #501414;
$false-red: #a32c2c;
$true-green: #33741c;
$alarm-red-light: #693131;

$text-shadow: -2px 2px 2px #00000050;
$light-shadow: 0 0 5px #ffffff80;
$shadow: -4px 4px 10px 0px #07262880;

$popup-shadow: -4px 4px 10px #000000;
$popup-cover: #000000d0;

@import 'fonts.css';
@import 'gemma-fonts.css';

// import Bootstrap css
//@import "~bootstrap/scss/bootstrap";


// ANIMATIONS
@keyframes rotator {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes move-bg {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -200px;
  }
}

@keyframes push-left {
  from {
    right: 0;
  }
  to {
    right: 10px;
  }
}

@keyframes push-right {
  from {
    left: 0;
  }
  to {
    left: 10px;
  }
}

.rotate {
  animation-name: rotator;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.separator {
  flex-basis: 100%;
}

// STRUCTURE

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background: #000;
}

header {
  nav.big-screen {
    .item {
      color: $dark-0;
      text-shadow: $text-shadow;

      &:hover {
        cursor: pointer;
        filter: drop-shadow($light-shadow);
      }

      i {
        font-size: 2rem;
      }

      .label {
        float: right;
        padding: 0 0.5rem;
        font-size: 0.8rem;
        text-transform: uppercase;

        span:last-child {
          display: block;
          margin-top: -0.25rem;
          color: $dark-100;
        }
      }
    }
  }
}

#content {
  flex-grow: 1;
  padding-bottom: 1rem;

  #setup-select {
  }

  .label {
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
}

footer {
  min-height: 2rem;
  border-top: 2px solid $dark-700;
  box-shadow: 2px 2px 2px 2px $dark-900;

  .bar {
    min-height: 2rem;
  }
}

// buttons
.btn {
  height: 2.5rem;
  border-radius: 0.5rem;
  padding: 0 0.75rem;
  display: flex;
  align-items: center;

  &-lg {
    height: 4rem;
    font-size: 2rem;
  }

  &-side {
    height: 100%;
  }

  &-green {
    background: $dark-400;
    border: 2px solid $dark-400;

    &:hover {
      background: $dark-100;
      border: 2px solid $dark-100;
      color: $dark-900;
    }
  }

  &-blue {
    background: $blue-950;
    border: 2px solid $blue-450;

    &:hover {
      background: $dark-100;
      color: $blue-950;
    }
  }

  &-red {
    background: $alarm-red;
    border: 2px solid $alarm-red-light;

    &:hover {
      background: $dark-100;
      color: $dark-900;
    }
  }

  &-empty {
    border: 2px solid $blue-450;

    &:hover {
      background: $dark-100;
      color: $dark-900;
    }
  }

  &-counter {
    border-radius: 1rem;
    margin: 0 0 0 0.5rem;
    width: 1.75rem;
    height: 1.75rem;
    background: #ffffff30;
  }
}

// indicators

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blinker 3s ease-out infinite;
}