// import TailWind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;

$dark-0: #dbeeee;
$dark-100: #b4d3d3;
$dark-200: #9bc3c7;
$dark-250: #87c2c7;
$dark-300: #377d84;
$dark-350: #0a707a;
$dark-400: #2b7279;
$dark-450: #1a6066;
$dark-500: #104e54;
$dark-600: #0d3d42;
$dark-650: #16393b;
$dark-700: #042e32;
$dark-800: #032427;
$dark-850: #031e21;
$dark-900: #101111;

$blue-250: #b2d3d5;
$blue-450: #426272;
$blue-470: #425660;
$blue-550: #143c50;
$blue-950: #07293a;
$blue-960: #0e2029;
$blue-970: #020f16;

$alarm-red: #501414;
$alert-high-light: #dc969b;
$alert-high: #542b36;
$alert-low-light: #d8be9c;
$alert-low: #39333a;
$false-red: #a32c2c;
$true-green: #33741c;
$alarm-red-light: #693131;

$text-shadow: -2px 2px 2px #00000050;
$light-shadow: 0 0 5px #ffffff80;
$shadow: -4px 4px 10px 0px #07262880;

$popup-shadow: -4px 4px 10px #000000;
$popup-cover: #000000d0;

@import 'fonts.css';
@import 'gemma-fonts.css';

// import Bootstrap css
//@import "~bootstrap/scss/bootstrap";


// ANIMATIONS
@keyframes rotator {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes move-bg {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -200px;
  }
}

@keyframes push-left {
  from {
    right: 0;
  }
  to {
    right: 10px;
  }
}

@keyframes push-right {
  from {
    left: 0;
  }
  to {
    left: 10px;
  }
}

.rotate {
  animation-name: rotator;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.separator {
  flex-basis: 100%;
}

// STRUCTURE

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

hr {
  background: $blue-450;
  height: 2px;
  border: none;
}

header {
  top: -20rem;
  transition: top 1s;
  &.open {
    top: 0;
  }
  nav {
    .item {
      color: $dark-0;
      text-shadow: $text-shadow;

      &:hover {
        cursor: pointer;
        filter: drop-shadow($light-shadow);
      }

      i {
        line-height: 1.75rem;
      }

      .label {
        float: right;
        padding: 0 0.5rem;
        font-size: 0.8rem;
        text-transform: uppercase;
        text-align: left;

        span:last-child {
          display: block;
          margin-top: -0.25rem;
          color: $dark-100;
        }
      }
    }
  }
}

#content {
  flex-grow: 1;
  padding-bottom: 1rem;

  #setup-select {
    .alerts {
      .item {
        padding: 1rem;
        margin: 1rem 0;
        background: #335465;

        &.hardware {
          background: $alert-high;
          border: 1px solid $alert-high-light;

          .icons {
            min-width: 7rem;

            .icon {
              border: 3px solid $alert-high-light;

              i {
                color: $alert-high-light;
              }
            }
          }
          &:hover {
            filter: contrast(0.9);
          }
        }

        &.sensor {
          background: $alert-low;
          border: 1px solid $alert-low-light;

          .icons {
            min-width: 7rem;

            .icon {
              border: 3px solid $alert-low-light;

              i {
                color: $alert-low-light;
              }
            }
          }
          &:hover {
            filter: contrast(0.9);
          }
        }
      }

      .is-read {
        button {

          &:hover {
            background: #ffffff60;
          }
        }
      }
    }


  }

  .label {
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }

  .img {
    border: 3px solid $blue-450;
    border-radius: 5px;
  }

  input {
    width: 100%;
  }
}

footer {
  min-height: 2rem;
  border-top: 2px solid $dark-700;
  box-shadow: 2px 2px 2px 2px $dark-900;

  .bar {
    min-height: 2rem;
  }
}

// popup
dialog.centered {
  z-index: 100;
  top: 50%!important;
  transform: translate(0%, -50%)!important;
}

// js
[data-modal] {
  display: none;
}

[data-modal].open {
  display: flex;
}

// buttons
.btn {
  height: 2.5rem;
  border-radius: 0.5rem;
  padding: 0 0.75rem;
  display: flex;
  align-items: center;
  &.inactive {
    opacity: 0.4;
  }

  &-lg {
    height: 4rem;
    font-size: 2rem;
  }

  &-side {
    height: 100%;
  }

  &-green {
    background: $dark-400;
    border: 2px solid $dark-400;

    &:hover {
      background: $dark-100;
      border: 2px solid $dark-100;
      color: $dark-900;
    }
  }

  &-blue {
    background: $blue-950;
    border: 2px solid $blue-450;

    &:hover {
      background: $dark-100;
      color: $blue-950;
    }
  }

  &-red {
    background: $alarm-red;
    border: 2px solid $alarm-red-light;

    &:hover {
      background: $dark-100;
      color: $dark-900;
    }
  }

  &-empty {
    border: 2px solid $blue-450;

    &:hover {
      background: $dark-100;
      color: $dark-900;
    }
  }

  &-counter {
    border-radius: 1rem;
    margin: 0 0 0 0.5rem;
    width: 1.75rem;
    height: 1.75rem;
    background: #ffffff30;
    line-height: 1.75;
  }
}

// forms
.select-profile {
  form {
    width: 400px;
    padding: 25px 50px 25px 50px;
    display: block;
    margin: 100px auto;
    border-radius: 3px;
    color: #000;
  }

  form fieldset {
    margin: 25px 0;
    border: none;
  }

  .select_wrapper {
    line-height: 36px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    width: 20rem;

    span {
      display: block;
      margin: 0;
      padding: 5px 10px;
      border-radius: 4px;
      transition: 0.4s ease;
      z-index: 9;
      position: relative;
      background: $dark-400;
      border: 2px solid $dark-200;
    }

    &.openSelect span {
      display: block;
      margin: 0;
      transform: scale(1.04);
      box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
      -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
      box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    }

    .select_inner {
      background: #fff;
      color: $dark-800;
      display: none;
      position: absolute;
      left: 0;
      top: 47px;
      width: 100%;

      li {
        border-bottom: 1px solid #eee;
        padding: 5px 15px;
        transition: 0.4s ease;

        &:hover {
          background: $dark-800;
          color: #fff;
        }
      }

      ul {
        border-radius: 5px;
        background: #fff;
      }
    }
  }
}


// indicators

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blinker 3s ease-out infinite;
}