// import TailWind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;

$dark-0: #dbeeee;
$dark-100: #b4d3d3;
$dark-200: #9bc3c7;
$dark-250: #87c2c7;
$dark-300: #377d84;
$dark-350: #0a707a;
$dark-400: #2b7279;
$dark-450: #1a6066;
$dark-500: #104e54;
$dark-600: #0d3d42;
$dark-650: #16393b;
$dark-700: #042e32;
$dark-800: #032427;
$dark-850: #031e21;
$dark-900: #101111;

$blue-250: #b2d3d5;
$blue-450: #426272;
$blue-470: #425660;
$blue-550: #143c50;
$blue-950: #07293a;
$blue-960: #0e2029;
$blue-970: #020f16;

$alarm-red: #501414;

$text-shadow: -2px 2px 2px #00000050;

@import 'gemma-fonts.css';
@import 'fonts.css';

// import Bootstrap css
//@import "~bootstrap/scss/bootstrap";


// ANIMATIONS
@keyframes rotator {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes move-bg {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -200px;
  }
}

@keyframes push-left {
  from {
    right: 0;
  }
  to {
    right: 10px;
  }
}

@keyframes push-right {
  from {
    left: 0;
  }
  to {
    left: 10px;
  }
}

.rotate {
  animation-name: rotator;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.separator {
  flex-basis: 100%;
}

// STRUCTURE
//// HEADER
///// NAV
html {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background: #000;
}

header {
  nav.big-screen {
    .item {
      color: $dark-0;
      text-shadow: $text-shadow;

      i {
        font-size: 2rem;
      }

      .label {
        float: right;
        padding: 0 0.5rem;
        font-size: 0.8rem;
        text-transform: uppercase;

        span:last-child {
          display: block;
          margin-top: -0.25rem;
          color: $dark-100;
        }
      }
    }
  }

  nav.small-screen {
    i {
      font-size: 4rem;
    }
  }

  .bar {
    min-height: 3rem;

    .item {
      float: left;
      width: 4.5rem;
      text-shadow: $text-shadow;
      text-transform: uppercase;

      span:first-child {
        font-size: 1.2rem;
      }

      &-label {
        width: 7rem;
        text-align: right;

        span:first-child {
          font-size: 0.85rem;
        }
      }

      p {
        color: #fafafa;
        font-size: 0.85rem;
        padding: 0;
        margin-top: -0.2rem;
      }
    }
  }
}

#content {
  .all {
    #carousel {
      .carousel {
        &-sidebar {
          width: 4rem;
          justify-content: center;
          display: flex;
          flex-direction: column;
          text-align: center;

          &-prev {
            i:hover {
              animation-name: push-left;
            }
          }

          &-next {
            i:hover {
              animation-name: push-right;
            }
          }

          &-prev, &-next {
            cursor: pointer;
            color: $dark-200;
            transition: color 1s;

            &:hover {
              color: $dark-0;
              filter: drop-shadow($text-shadow);
              i {
                position: relative;
                &:hover {
                  animation-duration: 1s;
                  animation-iteration-count: infinite;
                  animation-timing-function: ease-in-out;
                  animation-direction: alternate;
                }
              }
            }

            span {
              font-size: 5rem;
            }

          }
        }

        &-content {
          &.row {
            display: flex;
            justify-content: center;

            .item {
              border: 2px solid $dark-100;
              transition: filter 1s;
              min-width: 11.25rem;
              min-height: 11.75rem;

              &.sm {
                width: 11.25rem;
                height: 11.75rem;
              }

              &.md {
                width: 16.25rem;
                height: 11.75rem;
              }

              &.lg {
                width: 16.25rem;
                height: 16.5rem;
              }

              &.xl {
                width: 21.25rem;
                height: 16.5rem;
              }

              &.xxl {

              }

              &.xxxl {

              }

              &.active {
                filter: brightness(1.15) hue-rotate(45deg) drop-shadow(-10px 10px 10px #00000080);
              }

              .label {
                padding: 0.25rem 1rem;
                justify-content: space-between;

                .alert {
                  i {
                    margin: 0 0.25rem;
                  }
                }
              }

              .box {
                padding: 0.75rem 0.5rem 0;

                .inner {
                  display: flex;
                  flex-wrap: wrap;

                  div {
                    width: 5rem;
                    height: 4.5rem;
                    text-align: center;
                    text-shadow: none !important;

                    i {
                      font-size: 1.5rem;
                    }

                    p {
                      font-size: 1.05rem;
                      margin-top: -0.25rem;

                      &.desc, i {
                        font-size: 0.75rem;

                      }
                    }
                  }
                }
              }
            }
          }
        }

        &-pagination {
          .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-width: 4rem;
            padding: 0 1rem;
            height: 2rem;
            background: $dark-700;
            color: $dark-100;
            border-radius: 1rem;
            text-align: center;
            font-size: 1.25rem;
          }
        }
      }
    }

    #indicators-carousel {
      .wrapper {
        display: flex;

        &.h_sm {
          height: 17rem;
        }

        &.h_md {
          height: 22rem;
        }

        &.h_lg {
          height: 27rem;
        }

        .item {
          border: 2px solid $dark-100;
          transition: filter 1s;

          &.sm {
            width: 11.25rem;
            height: 11.75rem;
          }

          &.md {
            width: 16.25rem;
            height: 11.75rem;
          }

          &.lg {
            width: 16.25rem;
            height: 16.5rem;
          }

          &.xl {
            width: 21.25rem;
            height: 16.5rem;
          }

          &.xxl {

          }

          &.xxxl {

          }

          &.active {
            filter: brightness(1.15) hue-rotate(45deg) drop-shadow(-10px 10px 10px #00000080);
          }

          .label {
            padding: 0.25rem 1rem;
            justify-content: space-between;

            .alert {
              i {
                margin: 0 0.25rem;
              }
            }
          }

          .box {
            padding: 0.75rem 0.5rem 0;

            .inner {
              display: flex;
              flex-wrap: wrap;

              div {
                width: 5rem;
                height: 4.5rem;
                text-align: center;
                text-shadow: none !important;

                i {
                  font-size: 1.5rem;
                }

                p {
                  font-size: 1.05rem;
                  margin-top: -0.25rem;

                  &.desc, i {
                    font-size: 0.75rem;

                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .label {
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }

  flex-grow: 1;

  .detail {
    text-shadow: $text-shadow;
    flex-grow: 1;
    margin-top: 1rem;

    .data {
      .image-box {
        padding: 0.75rem 0.75rem;
        background: $blue-550;
        border-right: 1px solid $blue-450;

        .image {
          width: 9rem;

          .img {
            background-position: center !important;
            background-size: cover !important;
          }

          .desc {
            margin: 0.125rem 0;

            p {
              margin-top: -0.25rem;
            }
          }
        }
      }

      i {
        margin-right: 0.25rem;
      }

      .readings.chunk {
        flex-grow: 1;
        width: 50%;

        .heading.label {
          .title {
            font-size: 1rem;
          }

          .pre {
            font-size: 0.75rem;
          }

          .post {
            color: $dark-250;
          }

          .active {
            font-size: 1.1rem;
            color: $dark-0;
          }
        }


        .value {
          height: 4rem;

          .box {
            padding-top: 0.5rem;
            width: 16.66%;
            height: 4rem;

            span {
              &:first-child {
                font-size: 1.1rem;
              }

              &:last-child {
                font-size: 0.85rem;
              }
            }
          }

          .box.alarm {
            background: linear-gradient(to bottom, $alarm-red, transparent);
            border-radius: 0.25rem;
          }
        }

        .additional {
          font-size: 0.85rem;
          height: 4.25rem;

          .title {
            justify-content: center;
            line-height: 1.3;
            font-size: 0.85rem;
            width: 6rem;
          }

          .element {
            font-size: 1.5rem;
            border: 2px solid #b2d3d5;
            cursor: pointer;

            i {
              padding: 0.5rem;
              margin: 0 auto;
              width: 3rem;
            }
          }

          &.other {
            .element {
              opacity: 0.2;
              border-radius: 0.75rem;
              box-shadow: -2px 2px 1px 1px #00000020;

              &:hover {
                opacity: 0.4;
                background: $blue-250;
                color: $dark-900;
              }

              &.active, &.link {
                opacity: 1;
              }

              &.link {
                &:hover {
                  background: $blue-250;
                  color: $dark-900;
                }
              }
            }
          }

          &.settings {
            .element {
              border: none;
              height: 4rem;
              width: 5rem;
              display: flex;
              flex-grow: 1;
              flex-direction: column;
              justify-content: center;
              background: linear-gradient(to bottom, #00000080, transparent);

              &:hover {
                background: $blue-450;
              }

              &.active {
                background: #30878f;
                color: #ffffff;

                i {
                  color: #ffffff;
                }
              }

              i {
                padding-top: 0.125rem;
              }

              p {
                font-size: 0.70rem;
                margin-top: -0.25rem;
              }
            }

          }
        }

        .amplitude {

          height: 2.5rem;

          .box {
            margin-right: 3rem;
            display: flex;
          }

          .value {
            padding: 0.25rem 0.5rem 0.25rem 0.75rem;
            font-size: 1.25rem;
            width: 6.75rem;
          }

          .label {
            padding: 0.2rem 0;
            font-size: 0.75rem;
            flex-direction: column;

            p {
              margin-top: -0.25rem;
            }
          }
        }
      }

      .readings.stripe {
        min-height: 3rem;
        border-top: 1px solid $blue-450;

        .box {
          width: 50%;

          .label {
            text-transform: uppercase;
            min-width: 7rem;
            height: 3rem;
          }

          .value {
            padding: 0 2rem 0 0;
            margin-top: -0.35rem;
            font-size: 0.85rem;

            .progress {
              div {
                height: 1.25rem;
                min-width: 2rem;
              }

              .bar {
                border-right: 1px solid #ffffff80;
              }
            }

            .indicator {
              top: 1.25rem;

              div {
                height: 1.25rem;
              }
            }
          }
        }
      }
    }
  }

  .setup {
    margin-top: 2rem;

    .label {

    }

    @mixin setup-item {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      box-shadow: 0 2px 5px 0 #00000080;
    }
    @mixin item-default-bg {
      border-bottom: 1px solid $blue-450;
      background: linear-gradient(to bottom right, $blue-950, $blue-960);
    }
    @mixin item-true-bg {
      background: #1C531E url("../images/bg-true.svg") fixed;
    }
    @mixin item-false-bg {
      background: #62191F url("../images/bg-false.svg") fixed;
    }

    .box {
      padding: 1rem 1rem;
      flex-wrap: wrap;
      gap: 0.5rem 0.8%;
      margin: 0 0.5rem;
      background: linear-gradient(to bottom right, $dark-300, $dark-500);
    }

    .item {
      display: flex;
      flex-direction: column;
      width: 16%;
      height: 8rem;
      text-transform: uppercase;
      transition: filter 0.5s;

      &:hover {
        filter: drop-shadow(-5px 5px 5px #00000060);
      }

      &:hover {
        cursor: pointer;

        .icon {
          filter: brightness(1.35);
          animation-name: move-bg;
          animation-duration: 5s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
          animation-direction: alternate;
        }
      }

      .title {
        height: 2.5rem;
        font-size: 0.85rem;
        line-height: 1.2;
        padding: 0 1rem;
        border-radius: 0.5rem 0.5rem 0 0;
        border-top: 1px solid $blue-450;
        @include item-default-bg;
        @include setup-item;
      }

      .icon {
        flex-grow: 1;
        font-size: 2rem;
        color: $dark-100;
        @include setup-item;
        background: #174453 url("../images/bg-default.svg") fixed;

        i {
          padding: 0 0.5rem;
        }
      }

      .value {
        font-size: 1.25rem;
        height: 2.5rem;
        border-top: 1px solid $blue-450;
        border-radius: 0 0 0.5rem 0.5rem;
        @include item-default-bg;
        @include setup-item;
      }

      &.global {
        .icon {
          background: #255077 url("../images/bg-global.svg") fixed;
        }
      }

      &.true {
        .icon {
          @include item-true-bg;
        }
      }

      &.false {
        .icon {
          @include item-false-bg;
        }
      }
    }
  }
}

#indicators-carousel {
  .indicators {
    button[aria-current=true] {
      background: $dark-100 !important;
    }

    button[aria-current=false] {
      background: $dark-800 !important;

      &:hover {
        background: $dark-0 !important;
      }
    }
  }

  .indicators button {
    box-shadow: 0 3px 3px 0 #11111150;
  }
}

footer {
  min-height: 5rem;

  .bar {
    min-height: 2rem;
  }
}