<!DOCTYPE html>
<html class="dark" lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex">
        <title>{% block title %}Greenee© App{% endblock %}</title>
        <link rel="icon" href="{{  asset('build/favicon/favicon.svg') }}" sizes="any" type="image/svg+xml">
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="min-h-screen flex flex-col">
        {% include('nav.html.twig') %}
        {% block body %}{% endblock %}
{#        {% include('footer.html.twig') %}#}
    </body>
</html>