<footer class="fixed bottom-0 z-50 w-full bg-amber-100 dark:bg-teal-900 flex flex-col">
    <div class="bar w-full border-t bg-amber-100 dark:bg-darker-800 border-amber-200 dark:border-darker-900"></div>
</footer>