<header class="w-full sm:h-48 md:h-24 lg:h-26 xl:h-26 dark:bg-darker-500">
    <div class="fixed w-full z-50">
        <nav class="big-screen hidden lg:block bg-amber-100 dark:bg-darker-800 border-b-2 border-amber-200 dark:border-darker-500">
            <div class="container mx-auto px-4 lg:flex gap-8 py-2.5">
                <div class="item" onclick="window.location.href = '/app'">
                    <span><i class="gf gf-home"></i></span>
                    <span class="label">
                        <span>Menu</span>
                        <span>główne</span>
                    </span>
                </div>
                <div class="item">
                    <span><i class="gf gf-settings"></i></span>
                    <div class="label">
                        <span>Ustawienia</span>
                        <span>aplikacji</span>
                    </div>
                </div>
                <div class="item" onclick="window.location.reload()">
                    <span><i class="gf gf-refresh"></i></span>
                    <div class="label">
                        <span>Przeładuj</span>
                        <span>aplikację</span>
                    </div>
                </div>
                <div class="item">
                    <span><i class="gf gf-info"></i></span>
                    <div class="label">
                        <span>Pomoc</span>
                        <span>kontakt</span>
                    </div>
                </div>
            </div>
        </nav>
        <div {{ react_component('WeatherBar') }}></div>
    </div>
</header>

