<header class="w-full sm:h-12 lg:h-26 xl:h-26 dark:bg-darker-500">
    <div class="fixed w-full z-50">
        <nav class="big-screen hidden lg:block bg-amber-100 dark:bg-darker-800 border-b-2 border-amber-200 dark:border-darker-500">
            <div class="container mx-auto px-4 lg:flex gap-8 py-2.5">
                <div class="item">
                    <span><i class="gf gf-home"></i></span>
                    <div class="label">
                        <span>Menu</span>
                        <span>główne</span>
                    </div>
                </div>
                <div class="item">
                    <span><i class="gf gf-settings"></i></span>
                    <div class="label">
                        <span>Ustawienia</span>
                        <span>aplikacji</span>
                    </div>
                </div>
                <div class="item">
                    <span><i class="gf gf-refresh"></i></span>
                    <div class="label">
                        <span>Przeładuj</span>
                        <span>aplikację</span>
                    </div>
                </div>
                <div class="item">
                    <span><i class="gf gf-info"></i></span>
                    <div class="label">
                        <span>Pomoc</span>
                        <span>kontakt</span>
                    </div>
                </div>
            </div>
        </nav>
        <div class="bar shadow-md dark:shadow-gray-900/30 bg-gradient-to-b bg-amber-100 dark:from-darker-900 dark:to-darker-800 border-b border-amber-300 dark:border-darker-500">
            <div {{ react_component('WeatherBar') }} class="container mx-auto px-2 flex"></div>
        </div>
    </div>
</header>

