<div{{ attributes }}>
    <!-- component html -->
    <div class="js-alert flex flex-col p-8 bg-darker-100 shadow-xl dark:shadow-darker-800 rounded-2xl">
        <div class="flex items-center justify-between">
            <div class="flex items-center">
                <div class="flex flex-col ml-3">
                    <div class="font-medium leading-none">{{ message }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
