<div{{ attributes }} id="js-profile-cannot-be-deleted" class="js-popup-cover z-50 lg:z-30 fixed flex justify-center items-center top-0">
    <div class="js-popup rounded-lg flex flex-col dark:text-blue-50">
        <div class="flex justify-between items-center h-12 mx-1 px-2 border-b dark:border-blue-450 text-2xl lg:text-xl">
            <div>Nie można usunąć profilu!</div>
            <button class="js-close-me relative bottom-2 right-4 lg:bottom-0 lg:right-0">
                <i class="text-5xl lg:text-2xl gf gf-close"></i>
            </button>
        </div>
        <div class="flex gap-4 p-4">
            <div>
                <i class="text-5xl lg:text-5xl gf gf-info"></i>
            </div>
            <div>
                {{ message }}
            </div>
        </div>
    </div>
</div>